<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skip-bo | Register</title>
    <%- include('../shared/head') %>
  </head>
  <body id="landing">
    <div id="container">
      <h1>Register to Play Skip-Bo</h1>

      <form action="/auth/register" method="post" class="auth-form">
        <% if (locals.error && error) { %>
          <p class="error"><%= error %></p>
        <% } %>

        <div>
          <label for="username">Email</label>
          <input type="email" name="email" id="email" required placeholder="Email address"
            <% if(locals.email && email) { %>
              value="<%= email %>"
            <% } %>
          />
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>

        <button type="submit">Register</button>

        <a href="/">Already have an account? Login</a>
      </form>
    </div>
  </body>
</html>
