<input type="hidden" name="room-id" id="room-id" value="<%= roomId %>" />

<template id="chat-message-template">
  <div class="message">
    <img class="avatar" />
    <div class="message-wrapper">
      <span class="message-content"></span>
      <span class="message-timestamp"></span>
    </div>
  </div>
</template>
