<template id="chat-message-template">
  <div class="chat-message">
    <img class="gravatar" src="#" alt="#" />
    <span class="timestamp"></span>
    <span class="message"></span>
  </div>
</template>
