<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skip-bo | Lobby</title>
    <%- include('shared/head') %>
  </head>
  <body id="lobby">
    <div id="container">
      <%- include('shared/menu') %>

      <div id="content">
        <section id="games-listing">
          <h2>My games</h2>

          <ul id="my-games">
            <li>
              <span class="status waiting">status</span>
              <span class="game-name">Game Name</span>
              <span class="game-players">Players</span>
              <a href="/games/42" class="button" target="_blank">Join</a>
            </li>
            <li>
              <span class="status playing">status</span>
              <span class="game-name">Game Name</span>
              <span class="game-players">Players</span>
              <a href="/games/42" class="button" target="_blank">Join</a>
            </li>
          </ul>

          <h2>Join a new game</h2>

          <ul id="available-games">
            <li>
              <span class="status waiting">status</span>
              <span class="game-name">Game Name</span>
              <span class="game-players">Players</span>
              <a href="/games/42" class="button" target="_blank">Join</a>
            </li>
          </ul>
        </section>

        <%- include('shared/chat') %>
    </div>

    <%- include('shared/templates') %>
  </body>
</html>
