<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Play Skip-Bo</title>
    <%- include('shared/head') %>
  </head>
  <body id="landing">
    <div id="container">
      <h1>Play Skip-Bo</h1>

      <%- include('auth/login-form') %>
    </div>
  </body>
</html>
