<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to the site, <%= name %>, check out this list:</p>
      <ul>
        <% for(let i = 0; i < 3; i++) { %>
        <li>Item <%= i %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
