<div id="create-game-container">
  <form method="post" action="/games/create">
    <a href="#" id="close-create-game-form">
      <i class="nf nf-md-close_circle_outline"></i>
    </a>
    <div>
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Optional game description"
      />
    </div>
    <div>
      <label for="min-players">Min players</label>
      <input type="number" id="min-players" name="minPlayers" value="2" />
    </div>
    <div>
      <label for="max-players">Max players</label>
      <input type="number" id="max-players" name="maxPlayers" value="4" />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        placeholder="Optional password"
      />
    </div>
    <button type="submit">Create Game</button>
  </form>
</div>
