<div id="create-game-container">
  <form>
    <a href="#" id="close-create-game-form">
      <i class="nf nf-md-close_circle_outline"></i>
    </a>
    <div>
      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        placeholder="Optional game description"
      />
    </div>
    <div>
      <label for="min-players">Min players</label>
      <input type="number" name="min-players" value="2" />
    </div>
    <div>
      <label for="max-players">Max players</label>
      <input type="number" name="max-players" value="4" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" name="password" placeholder="Optional password" />
    </div>
    <button type="submit">Create Game</button>
  </form>
</div>
